@charset "UTF-8";
/*共通部分*/
html{
    font-size: 100%;
}

body{
        font-family: "Yu Gothic Mediam", "遊ゴシック Mediam", YuGothic, "遊ゴシック体", "ヒラギノ角ゴ Pro W3",sans-serif;
    line-height: 1.7;
        color: black;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.main-menu{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-menu li{
    margin-left: 36px;
}
.main-menu a{
    color: black;
}
.main-menu a:hover{
    color: #0bd;
}

.page-header{
    display: flex;
    justify-content: space-between;
}