@charset "UTF-8";
/*共通部分*/
html{
    font-size: 100%;
}

body{
        font-family: "Yu Gothic Mediam", "遊ゴシック Mediam", YuGothic, "遊ゴシック体", "ヒラギノ角ゴ Pro W3",sans-serif;
    line-height: 1.7;
        color: black;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.main-menu{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-menu li{
    margin-left: 36px;
}
.main-menu a{
    color: black;
}
.main-menu a:hover{
    color: #0bd;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/*Home*/
.home-content{
    text-align: center;
    margin-top: 10%;
}

.home-content p{
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/*見出し*/
.page-title{
    font-size: 5rem;
    font-family: 'Philosopher',serif;
    text-transform: uppercase;
    font-weight: normal;
}

.button{
    font-size: 1.135rem;
    background: #0bd;
    color: floralwhite;
    border-radius: 5px;
    padding: 18px 32px;
}

.button:hover{
    background: #0090aa;
}

.big-ba{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home{
    background-image: url(https://s4.aconvert.com/convert/p3r68-cdx67/a7hj6-qab5c.svg), linear-gradient(#eaf6fd, #00005d);
    background-blend-mode: luminosity;
    min-height:  100vh;
}

#home .page-title{
    text-transform: none;
}
/*EVENTS*/
#EVENTS{
    background-image: url(https://s4.aconvert.com/convert/p3r68-cdx67/a7hj6-qab5c.svg), linear-gradient(#eaf6fd, #00005d);
    background-blend-mode: luminosity;
    height:  270px;
    margin-bottom: 40px;
}

#EVENTS .page-title{
    text-align: center;
}